<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Student Shuffler</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../bower_components/material-design-lite/material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../styles/index.css">

    <!-- JavaScript -->
    <script src="../bower_components/material-design-lite/material.min.js"></script>
    <script src="../node_modules/vue/dist/vue.min.js"></script>
</head>
<body>
    <div id="root">
        <!-- Input Area -->
        <template v-if="showingAddStudent">
            <div class="input-area">
                <input id="nameInput" class="mdl-textfield__input" @keyup.enter="addStudent" v-model="currentName" placeholder="Name" type="text">
                <input id="emailInput" class="mdl-textfield__input" @keyup.enter="addStudent" v-model="currentEmail" placeholder="Email Address" type="text">
                <button @click="addStudent"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                    Add Student
                </button>
            </div>
        </template>

        <!-- Student List Container -->
        <div class="student-list">
            <!-- Menu -->
            <div class="student-row student-row--header">
                <div class="bold">Students</div>

                <!-- Show and Hide Input -->
                <div v-if="!showingAddStudent" @click="showingAddStudent = true" class="icon-button">+</div>
                <div v-else="!showingAddStudent" @click="showingAddStudent = false" class="icon-button">-</div>
            </div>

            <!-- No-Content Placeholder -->
            <div v-if="students.length === 0" class="nothing-to-show">
                Nothing to show
            </div>

            <!-- List Content -->
            <div v-else class="student-list__content">
                <div v-for="(student, index) in students">
                    <div class="student-row">
                        <div style="flex: 1"><div class="bold">Name</div>{{student.name}}</div>
                        <div style="flex: 1"><div class="bold">Email</div>{{student.email}}</div>
                        <span @click="deleteStudent(index)" class="delete-button">x</div>
                    </div>
                </div>
            </div>

            <!-- Shuffle Button -->
            <button v-if="students.length > 0" style="margin-top: 1rem;" @click="shuffleStudents"
                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                Shuffle!
            </button>
        </div>
    </div>

    <script src="../controllers/index.js"></script>
</body>
</html>