/* Elements */
body {
    margin: 0;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
}

input[type='text'] {
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    flex: 1;
    margin-right: 1rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(184, 184, 184);
    outline: none;
    padding: 0.5rem 0.5rem;
}

input[type='text']:focus {
    border-color: rgb(110, 203, 226);
}

/* button {
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: none;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: white;
    user-select: none;
}

button:hover {
    border-color: rgb(90, 90, 90);
    cursor: pointer;
} */

/* IDs */
#root {
    display: flex;
    max-width: 95%;
    margin: 1rem auto;
    flex-flow: column;
    flex: 1;
}

/* Classes */

.bold {
    font-weight: 500;
    user-select: none;
}

.title {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    user-select: none;
}

.nothing-to-show {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.input-area {
    margin: auto;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    width: 98%;
}

.button-area {
    margin: auto;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

/* Icon Button */
.icon-button {
    font-weight: 400;
    font-size: 2rem;
    user-select: none;
}

.icon-button:hover {
    color: rgb(110, 203, 226);
    cursor: pointer;
}

/*  Delete Button */
.delete-button {
    user-select: none;
}

.delete-button:hover {
    color: rgb(206, 0, 0);
    cursor: pointer;
}

/* Student List */
.student-list {
    display: flex;
    flex-flow: column;
    border: 1px solid #dddddd;
    border-radius: 1rem;
    flex: 1;
    overflow-y: auto;
}

.student-list__content {
    flex: 1;
    display: flex;
    flex-flow: column;
    overflow-y: auto;
}

/* Student Rows */
.student-row {
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dddddd;
}

.student-row--header {
    background-color: #eeeeee;
    height: 2rem;
}